##Diario 3

##Primera parte

In [4]:
import math as mt
import statistics as st
import pandas as pd
import numpy as np

In [6]:
#1.a
r = (mt.pi) * (8**4)
r

12867.963509103793

In [7]:
#1.a.2
r = abs(1342-1677*(9/7)-6)
r

820.1428571428573

In [9]:
r = mt.factorial(9)
r

362880

In [11]:
r = mt.log(7,10)
r

0.8450980400142567

In [12]:
#1.a.5
r = mt.e**0.555457
r

1.7427372337331462

In [15]:
#1.b
y = math.pi
z = 41
x = (2+y)/(7+(z**2))

x

0.0030459672118422947

##Parte 2

In [16]:
##Listas
x = [2,-6,27,-8,-9,-21,9,5,562,mt.pi]
x

[2, -6, 27, -8, -9, -21, 9, 5, 562, 3.141592653589793]

In [18]:
y = [8,9,-31,18,-5,-18,9,-22,0,9]
y

[8, 9, -31, 18, -5, -18, 9, -22, 0, 9]

In [19]:
st.mean(y)

15.40162329106903

In [20]:
st.pvariance(y)

237.21

In [21]:
st.pstdev(y)

15.40162329106903

In [22]:
##Correlacion
np.corrcoef(x,y)

array([[1.        , 0.02692977],
       [0.02692977, 1.        ]])

In [24]:
list(reversed(x))

[3.141592653589793, 562, 5, 9, -21, -9, -8, 27, -6, 2]

In [25]:
datos = {'sexo': ["H", "M","H", "M","H", "M"],
        'peso': ["43", "35", "96", "56", "25","48"],
        'edad': ["15", "21", "19", "17", "25", "35"],
        'nivel educativo': ["Lic", "Bach", "Bach", "Bach", "Dr", "MSc"]}
datos

{'sexo': ['H', 'M', 'H', 'M', 'H', 'M'],
 'peso': ['43', '35', '96', '56', '25', '48'],
 'edad': ['15', '21', '19', '17', '25', '35'],
 'nivel educativo': ['Lic', 'Bach', 'Bach', 'Bach', 'Dr', 'MSc']}

In [26]:
df = pd.DataFrame(datos)
df

  sexo peso edad nivel educativo
0    H   43   15             Lic
1    M   35   21            Bach
2    H   96   19            Bach
3    M   56   17            Bach
4    H   25   25              Dr
5    M   48   35             MSc

##Parte 4

In [31]:
def sumcubo(n):
    contador = 0 
    for i in range(n+1):
        valorcubo = i**3
        contador  = contador + valorcubo
    return(contador)
sumcubo(100)

25502500

In [34]:
contador = 0
sumcubo = 100
while sumcubo >= 0:
    valorcubo = (sumcubo**3)
    contador = contador + valorcubo
    sumcubo = sumcubo - 1
print(contador)

25502500